In [15]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
# Importing the dataset
dataset = pd.read_excel('dataset.xlsx')
dataset = dataset.iloc[:, 0:9]
dataset.to_csv ("dataset.csv", index = None, header=False)
dataset = pd.read_csv('dataset.csv')
dataset.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,ford Torino,17.0,8,302.0,140,3449,10.5,70,US

In [17]:
# Taking numeric input from columns 
pd.to_numeric(dataset.MPG)
pd.to_numeric(dataset.Cylinders)
pd.to_numeric(dataset.Displacement)
pd.to_numeric(dataset.Horsepower)
pd.to_numeric(dataset.Weight)
pd.to_numeric(dataset.Acceleration)
pd.to_numeric(dataset.Model)

0      70
1      70
2      70
3      70
4      70
       ..
401    82
402    82
403    82
404    82
405    82
Name: Model, Length: 406, dtype: int64

In [18]:
# 1) Find the average and total “Acceleration” across the “Origin” column.
average_acc = dataset.groupby(["Origin"]).Acceleration.mean().reset_index()
total_acc = dataset.groupby(["Origin"]).Acceleration.sum().reset_index()
print("average “Acceleration” across the “Origin” column\n\n" ,average_acc)
print("\n\ntotal “Acceleration” across the “Origin” column\n", total_acc)

average “Acceleration” across the “Origin” column

    Origin  Acceleration
0  Europe     16.840278
1   Japan     16.206410
2      US     14.895219
3     USA     13.000000
4  europe     15.500000
5   japan     13.500000
6      us     16.000000
7     usa     16.000000


total “Acceleration” across the “Origin” column
    Origin  Acceleration
0  Europe        1212.5
1   Japan        1264.1
2      US        3738.7
3     USA          13.0
4  europe          15.5
5   japan          13.5
6      us          16.0
7     usa          16.0

In [19]:
# 2) What is the correlation between “Acceleration” and “Weight”?
correlation = dataset['Acceleration'].corr(dataset['Weight'])
print("correlation between “Acceleration” and “Weight”: ", correlation)

	# or we can find correlation with the formula, r = SP/sqrt(SSx*SSy)
	# here SSx = Sum of square of DevAcc
	# SSy = Sum of square of DevWgt
	# DevAcc = Deviaton of "Acceleration" column
	# DevWgt = Deviaton of "Weight" column
	# SP = Sum of (DevAcc*DevWgt)
	# So, the calculation is,
		# DevAcc = dataset.Acceleration - dataset.Acceleration.mean()
		# DevWgt = dataset.Weight - dataset.Weight.mean()
		# SSx = (DevAcc**2).sum()
		# SSy = (DevWgt**2).sum()
		# SP = ((DevAcc)*(DevWgt)).sum()
		# r = sp/((SSx*SSy)**(1/2))
		# print("correlation between “Acceleration” and “Weight”: ", r)

correlation between “Acceleration” and “Weight”:  -0.42936581415569103

In [20]:
# 3) What is the most frequent and least frequent “Model” for “Origin”?
most_freq_model = dataset.groupby(['Origin']).Model.agg(lambda x:x.value_counts().index[0])
least_freq_model = dataset.groupby(['Origin']).Model.agg(lambda x:x.value_counts().index[-1])
print("most frequent “Model” for “Origin” column\n\n" , most_freq_model)
print("\n\n least frequent “Model” for “Origin” column\n", least_freq_model)

most frequent “Model” for “Origin” column

 Origin
Europe    80
Japan     80
US        73
USA       71
europe    74
japan     73
us        70
usa       72
Name: Model, dtype: int64


 least frequent “Model” for “Origin” column
 Origin
Europe    82
Japan     70
US        80
USA       71
europe    74
japan     73
us        70
usa       72
Name: Model, dtype: int64

In [21]:
# 4) Create a column “isFord”, if the “Car” contains “Ford” or “ford”.
# Assign 1 if the column "isFord" contains “Ford” or “ford”, otherwise 0.
dataset['isFord'] = np.where(dataset.Car.str.contains("Ford|ford"), 1, 0)
dataset.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,isFord
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US,0
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US,0
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US,0
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US,0
4,ford Torino,17.0,8,302.0,140,3449,10.5,70,US,1

In [22]:
# 5) Create a new column (let’s say isNumber). Assign the only digits (ex: 320 for 3rd row) into the column “isNumber”.
import re as re
def find_number(text):
    num = re.findall(r'[0-9]+',text)
    if num:
        return " ".join(num)
    else:
        return "No digits"
dataset['isNumber']=dataset['Car'].apply(lambda x: find_number(x))
dataset.to_csv ("dataset_update.csv", index = None, header=True)
dataset.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,isFord,isNumber
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US,0,No digits
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US,0,320
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US,0,No digits
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US,0,No digits
4,ford Torino,17.0,8,302.0,140,3449,10.5,70,US,1,No digits

In [23]:
# 6) Calculate the sum and mean of “Weight”
sum_of_weight = dataset.Weight.sum()
mean_of_weight = dataset.Weight.mean()
print("sum of weight: " , sum_of_weight)
print("\nmean of weight: ", mean_of_weight)

sum of weight:  1209642

mean of weight:  2979.4137931034484

In [24]:
# 7) Count the total no of “Audi” cars using column “Car”.
number_of_audi = dataset[dataset.Car.str.contains("Audi|audi")]
print("the total no of “Audi” cars\n\n", len(number_of_audi))

the total no of “Audi” cars

 7

In [25]:
# 8) Calculate mean and total “Displacement” across “Cylinders”.
total_displacement = dataset.groupby(["Cylinders"]).Displacement.sum().reset_index()
mean_displacement = dataset.groupby(["Cylinders"]).Displacement.mean().reset_index()
print("total “Displacement” across “Cylinders”\n\n" , total_displacement)
print("\n\n mean “Displacement” across “Cylinders”\n", mean_displacement)

total “Displacement” across “Cylinders”

    Cylinders  Displacement
0          3         290.0
1          4       22749.5
2          5         435.0
3          6       18324.0
4          8       37282.0


 mean “Displacement” across “Cylinders”
    Cylinders  Displacement
0          3     72.500000
1          4    109.900966
2          5    145.000000
3          6    218.142857
4          8    345.203704

In [26]:

# 9) Calculate total and mean “Acceleration” by “Model”.
total_acceleration = dataset.groupby(["Model"]).Acceleration.sum().reset_index()
mean_acceleration = dataset.groupby(["Model"]).Acceleration.mean().reset_index()
print("total “Acceleration” by “Model”\n\n" , total_acceleration)
print("\n\n mean “Acceleration” by “Model””\n", mean_acceleration)

total “Acceleration” by “Model”

     Model  Acceleration
0      70         445.0
1      71         444.0
2      72         423.5
3      73         560.8
4      74         437.5
5      75         481.5
6      76         542.0
7      77         432.2
8      78         569.0
9      79         458.6
10     80         491.1
11     81         488.3
12     82         515.8


 mean “Acceleration” by “Model””
     Model  Acceleration
0      70     12.714286
1      71     15.310345
2      72     15.125000
3      73     14.020000
4      74     16.203704
5      75     16.050000
6      76     15.941176
7      77     15.435714
8      78     15.805556
9      79     15.813793
10     80     16.934483
11     81     16.276667
12     82     16.638710

In [27]:
# 10) Calculate “Origin”-wise mean and total “Horsepower”.
total_housepower = dataset.groupby(["Origin"]).Horsepower.sum().reset_index()
mean_housepower = dataset.groupby(["Origin"]).Horsepower.mean().reset_index()
print("“Origin”-wise total “Horsepower”\n\n" , total_housepower)
print("\n\n “Origin”-wise mean “Horsepower”\n", mean_housepower)

“Origin”-wise total “Horsepower”

    Origin  Horsepower
0  Europe        5684
1   Japan        6217
2      US       29704
3     USA         100
4  europe          67
5   japan          90
6      us          85
7     usa          86


 “Origin”-wise mean “Horsepower”
    Origin  Horsepower
0  Europe   78.944444
1   Japan   79.705128
2      US  118.342629
3     USA  100.000000
4  europe   67.000000
5   japan   90.000000
6      us   85.000000
7     usa   86.000000